<html>
<style type="text/css">
 .center{
  width: 680px;
  border:1px solid black;
  height: 600px;
  float:left;
  margin:10px;
  background:grey;
  padding:15px;
} 
  table{
 border:1px solid white;
}
table th{
 border: 1px solid white;
 padding: 5px;
 color:gold;
}
table td{
 border: 1px solid white;
 padding: 5px;
 color: blue;
}
</style>
<h1>Dashboard</h1>
<header>
  <div>
    <%= link_to "Log out", logout_path, method: :delete%>
  </div>
</header>
<div>
  Input TTN to add a new test kit
  <%= form_with url: '/newkit' do |f| %>
    <%= f.label :TTNcode %>
    <%= f.text_field :TTNcode %>
    <%= f.submit "add", class:"btn"%>
  <%end%>
</div>

<table>
  <thead>
    <th>postcode</th>
    <th>infection number</th>
    <th>test conducted</th>
    <th>infectious rate</th>
  </thead>
  <tbody>
    <% TestResult.group(:postcode).count.each do |pcode, cnt|%>
      <tr>
        <td> <%= pcode %> </td>
        <td> <%= a = TestResult.where(postcode: pcode, result: 1).count %></td>
        <td><%= cnt %> </td>
        <td><%= (a / cnt).to_f %> </td>
      </tr>
      <% end %>
  </tbody>
</table>
<table>
  <thead>
    <th>age group</th>
    <th>infection number</th>
    <th>test conducted</th>
    <th>infectious rate</th>
  </thead>
  <tbody>
    <% (0..100).step(10) do |i| %>
      <tr>
        <td><%= "#{i} - #{i+10}" %></td>
        <td><%= a = TestResult.where(result: 1).group(:age).having("age > #{i} and age < #{i+10}").length %> </td>
        <td><%= b = TestResult.group(:age).having("age > #{i} and age < #{i+10}").length %></td>
        <td>
          <%if b > 0%>
          <%= (a/b).to_f %>
          <%else %>
          <%= 0.0 %>
          <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</html>
